<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head th:replace="~{layoutBase :: head}">
	<title>Cadastro Funcionário</title>
</head>

<body class="d-flex flex-column min-vh-100">

	<main class="flex-grow-1">
		<div class="container py-5">
			<h1 class="mb-5">Funcionário</h1>
			<form th:object="${funcionario}" th:action="@{/funcionarios/funcionario}"
				method="post">
				<div class="mb-3">
					<label for="id" class="form-label">ID</label>
					<input type="text" class="form-control" id="id" name="id" th:value="${funcionario.id}" readonly>
				</div>
				<div class="mb-3">
					<label for="nome" class="form-label">Nome</label>
					<input type="text" class="form-control" id="nome" name="nome" th:value="${funcionario.nome}"
						required >
				</div>
				<div class="mb-3">
					<label for="cargo" class="form-label">Cargo</label>
					<input type="text" class="form-control" id="cargo" name="cargo" th:value="${funcionario.cargo}"
						required >
				</div>
				<div class="text-end">
					<div class="text-end d-flex justify-content-between">
						<a class="btn btn-secondary" th:href="@{/funcionarios}">Voltar</a>
						<button type="submit" class="btn btn-success" value="salvar">Salvar</button>
					</div>

				</div>

			</form>
		</div>
	</main>

	<footer th:replace="~{layoutBase :: footer}"></footer>
</body>

</html>
